<h1>30-second Image Platform</h1>
<div style="display: flex; align-items: center;">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047547.jpg" alt="Upload Icon" style="width: 100px; height: 100px;">
    <a href="{% url 'image_upload' %}"> Upload Image</a>
</div>
<br>
<div style="display: flex; align-items: center;">
    <img src="https://png.pngtree.com/png-vector/20190729/ourlarge/pngtree-find-search-view-glass-blue-dotted-line-line-icon-png-image_1622078.jpg" alt="View Icon" style="width: 100px; height: 100px;">
    <a href="{% url 'image_view' %}"> View Images</a>
</div>